#section-join {
	background-color: #f28c96ce;
	background-image: url(img/floral.png)
}
.header {
	background-color: red;
    height:40px;
    width:100%; 
    margin-left: -8px;
   }


   .header h1 {
	display: contents;
	color: white;
}

.topnav {
  overflow: hidden;
  background-color: #000;
  width: 100%;
  height: 65px;
  margin-left: -9px;
  margin-top: inherit;

}
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav img {
	height: 50px;
	width: 100px;
	float: left;
	margin-left: 20px;
	margin-top: 8px;
}
.container {
	width: 100%;
	height: 300px; 
	margin-left: -9px;
}
.container h1 {
	text-align: center;
	margin-top:70px;
	font-size: -webkit-xxx-large;
}
.container button {
	width: 270px;
	height: 70px;
	background-color: black;
	color: white;
	font-size: 30px;
}
#flex-container{
	display: flex;
	background-color: white;
}
#flex-container figure {
	
	display: flex;
	flex-direction: column;
	align-items: center;

}	
#flex-container figcaption {
	text-align: center;

}
#flex-container i {
	font-size: 60px;
} 
